.copyright {
	FONT-SIZE: 12px; COLOR: #38558f; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.inputnumber {
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px;	font-weight: normal; color: #000000; text-decoration: none; border-style: solid; border-bottom:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000;	border-left:1px solid #000000; background-color: #e7e7e7; text-align: right;
}
.inputtext { 
    font-family: verdana, arial, helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #000000; text-decoration: none; border-style: none; border-bottom:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; border-left:1px solid #000000; background-color: #e7e7e7;
}
.inputtextlogin { 
    font-family: verdana, arial, helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #000000; text-decoration: none; border-style: none; border-bottom:1px solid #38558f; border-right:1px solid #38558f; border-top:1px solid #38558f; border-left:1px solid #38558f;
}
.datadisp {
	font-weight: bold; font-size: 10px; color: #342692; font-family: verdana, arial, helvetica, sans-serif; text-decoration: none;
}
.titull {
	FONT-SIZE: 12px; COLOR: #38558f; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.endnote {
	FONT-SIZE: 12px; COLOR: #38558f; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center;
	BACKGROUND-POSITION: 350px 0px; BACKGROUND-IMAGE: url(images/star.gif); BACKGROUND-REPEAT: no-repeat; 
}
.text {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.text2 {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.titull_box_grid {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #71769E; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d7d7d7 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #FFFFFF; TEXT-ALIGN: left
}
.titull_box_grid1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d7d7d7 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #FFFFFF; TEXT-ALIGN: center
}
.titull_box_grid2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}
.titull_box_grid3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px; PADDING-TOP: 1px; HEIGHT: auto; BACKGROUND-COLOR: #FFFFFF; TEXT-ALIGN: left
}
.titull_box_grid4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d7d7d7 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #FFFFFF; TEXT-ALIGN: left
}
.info_box {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: center;  BACKGROUND-COLOR: #A1C5D0; 
}
.info_box1 {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; WIDTH: 150; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: center
}
.info_box2 {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; WIDTH: 146; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: center
}
.info_box3 {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: left;  BACKGROUND-COLOR: #A1C5D0; 
}
.info_box4 {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; WIDTH: 350; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: center
}
.info_box5 {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; WIDTH: 600; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: center
}
 .info_box_tour {
	BORDER-RIGHT: #3F7272 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3F7272 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #3F7272 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #3F7272 1px solid; TEXT-ALIGN: left;  BACKGROUND-COLOR: #A1C5D0; 
}
.info_box_text {
	PADDING-RIGHT: 3px; MARGIN-TOP: 1px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; WIDTH: 144; COLOR: #000000; LINE-HEIGHT: 12px; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #A1C5D0; TEXT-ALIGN: center
}
.info_box_text A:link {
	COLOR: #333333
}
.info_box_text A:visited {
	COLOR: #333333
}
.info_box_text A:hover {
	BORDER-BOTTOM-WIDTH: 0px; COLOR: #cb3400
}
.info_box_text_tour {
	PADDING-RIGHT: 3px; MARGIN-TOP: 1px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; COLOR: #000000; LINE-HEIGHT: 12px; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.info_box_text_tour A:link {
	COLOR: #333333
}
.info_box_text_tour A:visited {
	COLOR: #333333
}
.info_box_text_tour A:hover {
	BORDER-BOTTOM-WIDTH: 0px; COLOR: #cb3400
}
.buton_box {
    font-family: verdana, arial, helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #000000; text-decoration: none; border-style: none; border-bottom:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; border-left:1px solid #000000; background-color: #e7e7e7;
}
.foto_right {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px 8px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
.foto_left {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 8px 8px 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
.link {
	font-weight: bold; color: #0A0D79; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link:hover {
	font-weight: bold; color: #0E0F3A; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.linkselected {
	font-weight: bold; color: #FFFFFF; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.linkselected:hover {
	font-weight: bold; color: #E9E7E4; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.titullheader {
	FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Arial Narrow, Courier New; TEXT-DECORATION: none
}
.titulldata {
	font-size: 14px; color: #000000; font-family: Arial Narrow, Courier New, verdana, arial, helvetica, sans-serif; text-decoration: none; background-color: #e7e7e7
}
.infodata {
	FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Arial Narrow, Courier New; TEXT-DECORATION: none
}
.voucher {
	font-weight: bold; FONT-SIZE: 22px; COLOR: #000033; FONT-FAMILY: sans-serif, Verdana, Arial Narrow, Arial, Helvetica; TEXT-ALIGN: center
}
.voucher2 {
	font-weight: bold; FONT-SIZE: 22px; COLOR: #000033; FONT-FAMILY: sans-serif, Verdana, Arial Narrow, Arial, Helvetica;
}
.vouchertitull {
	font-size: 12px; color: #000000; font-family: sans-serif, Arial Narrow, Courier New, verdana, arial, helvetica; text-decoration: none;
}
.voucherdata {
	FONT-SIZE: 12px; COLOR: #000033; FONT-FAMILY: Helvetica, sans-serif, Arial Narrow, Courier New, sans-serif, Verdana, Arial; TEXT-DECORATION: none
}
.line {
	border-top: #000000 1px solid; padding-left: 2em; background-image: url(images\line.gif); padding-bottom: 0.1em; margin: 0em 0em 0em 0em; color: #003380; padding-top: 0.1em; border-bottom: #000000 1px solid; background-repeat: repeat-y; font-family: verdana, arial, helvetica, sans serif,sans; background-color: #a1c0df;
}
.kujdes {
	font-weight: bold; font-family: verdana, arial, helvetica, sans-serif; font-size: 9px; color: #FF0000; font-family: verdana, arial, helvetica, sans serif,sans; text-decoration: blink;
}
.rsvnostyle {
	FONT-SIZE: 16px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.asagentonly {
	FONT-SIZE: 8px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.personname {
	FONT-SIZE: 14px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
DIV.listHeader {
	PADDING-LEFT: 0px; LINE-HEIGHT: 16px; BACKGROUND-POSITION: -3px 2px; BACKGROUND-IMAGE: url(images/pfeil_b.gif); BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana,sans-serif; BACKGROUND-COLOR: white
}
DIV.listItem {
	PADDING-LEFT: 14px; LINE-HEIGHT: 16px; BACKGROUND-POSITION: 1px 2px; BACKGROUND-IMAGE: url(images/pfeil_w.gif); BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana,sans-serif; BACKGROUND-COLOR: #7B9CC6
}
DIV.listItemSelected {
	PADDING-LEFT: 14px; LINE-HEIGHT: 16px; BACKGROUND-POSITION: 2px 2px; BACKGROUND-IMAGE: url(images/pfeil_w.gif); BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana,sans-serif; BACKGROUND-COLOR: #7B9CC6
}
.vula {
	FONT-SIZE: 12px; COLOR: #38558f; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left;
	BACKGROUND-POSITION: 25px 0px; BACKGROUND-IMAGE: url(images/al.gif); BACKGROUND-REPEAT: no-repeat; 
}
td {
	font-size: 11px; font-family: verdana, geneva, arial, helvetica, sans-serif
}
.link {
	font-weight: bold; color: #204b9b; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link:hover {
	color: #204b9b; font-size: 11px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link1 {
	font-weight: bold; color: #1E043A; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link1:hover {
	font-weight: bold; color: #130d8d; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link2 {
	color: #00ff00; font-size: 11px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link2:hover {
	color: #130d8d; font-size: 11px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link3 {
	color: #000000; font-size: 9px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link3:hover {
	color: #084f8b; font-size: 9px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link4 {
	font-weight: bold; color: #32341C; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link4:hover {
	font-weight: bold; color: #084f8b; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link5 {
	font-weight: bold; color: #00ff00; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link5:hover {
	font-weight: bold; color: #ffffff; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link6 {
	font-weight: bold; color: #452CFF; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.link6:hover {
	font-weight: bold; color: #66FF00; font-size: 10px; font-family: verdana, geneva, arial, helvetica, sans-serif; text-decoration: none
}
.titull {
	font-weight: bold; font-size: 11px; color: #270C98; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none
}
.titull:hover {
	font-weight: bold; font-size: 11px; color: #8D7B00; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none
}
.data {
	font-weight: bold; font-size: 11px; color: #32341C; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none
}
.infotitull {
	font-weight: bold; font-size: 10px; color: #270C98; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none
}
.infotitull:hover {
	font-weight: bold; font-size: 10px; color: #8D7B00; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none
}
.subtext {
	font-weight: normal; font-size: 11px; color: #60633A; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; text-align: justify;
}
.nentitull {
	font-weight: bold; font-size: 11px; color: #000000; font-family: tahoma, verdana, arial, helvetica, sans-serif
}
.address {
	font-weight: bold; font-size: 11px; color: #0b659f; font-family: tahoma, verdana, arial, helvetica, sans-serif; text-decoration: sharp
}
.text {
	font-weight: bold; font-size: 11px; color: #333333; font-family: tahoma, verdana, arial, helvetica, sans-serif
}
.txt {
	font-weight: normal; font-size: 11px; color: #283764; font-family: tahoma, verdana, arial, helvetica, sans-serif; text-decoration: sharp; text-align: justify;
}
.txt1 {
	font-weight: normal; font-size: 11px; color: #000000; font-family: tahoma, verdana, arial, helvetica, sans-serif; text-decoration: sharp;
}
.copyright {
	font-weight: normal; font-size: 11px; color: #ffffff; font-family: tahoma, verdana, arial, helvetica, sans-serif; text-decoration: none
}
.inputtext { 
    font-family: verdana, arial, helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #oooooo; text-decoration: none; border-style: none; border-bottom:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; border-left:1px solid #000000; background-color: #e7e7e7
}
.inputtext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #oooooo;
	text-decoration: none;
	border-style: solid;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	background-color: #e7e7e7;
	text-align: right;
}
.inputtext3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #oooooo;
	text-decoration: none;
	border-style: solid;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	background-color: #e7e7e7;
}
.tabborder {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #oooooo;
	text-decoration: none;
	border-style: solid;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	background-color: #e7e7e7;
}
.tabbordert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #oooooo;
	text-decoration: none;
	border-style: solid;
	border-top:1px solid #999999;
	background-color: #e7e7e7;
}
.tabborder1 {
	border-style: solid;
	border-bottom:1px solid #062189;
	border-right:1px solid #062189;
	border-top:1px solid #062189;
	border-left:1px solid #062189;
}
.titull1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titull2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titull3 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #003333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.price {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #05317B; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ctxheading {
	BORDER-TOP: #2f5c9f 1px solid; PADDING-LEFT: 3em; BACKGROUND-IMAGE: url(images\single_pixel_horizontal.gif); PADDING-BOTTOM: 0.2em; MARGIN: 0em -0.8em 0em -1.5em; COLOR: #003380; PADDING-TOP: 0.2em; BORDER-BOTTOM: #2f5c9f 1px solid; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif,Sans; BACKGROUND-COLOR: #a1c0df
}
.ctxheading1 {
	PADDING-LEFT: 12em; BACKGROUND-IMAGE: url(images\single_pixel_horizontal.gif); PADDING-BOTTOM: 0.4em; MARGIN: 0em -0.8em 0em -1.5em; COLOR: #003380; PADDING-TOP: 0.4em; BORDER-BOTTOM: #2f5c9f 1px solid; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif,Sans; BACKGROUND-COLOR: #a1c0df
}
.ctxheading2 {
	PADDING-LEFT: 3em; BACKGROUND-IMAGE: url(images\single_pixel_horizontal.gif); PADDING-BOTTOM: 0.4em; MARGIN: 0em -0.8em 0em -1.5em; COLOR: #003380; PADDING-TOP: 0.4em; BORDER-BOTTOM: #2f5c9f 1px solid; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif,Sans; BACKGROUND-COLOR: #a1c0df
}
.ctxheading3 {
	PADDING-LEFT: 8em; BACKGROUND-IMAGE: url(images\single_pixel_horizontal.gif); PADDING-BOTTOM: 0.4em; MARGIN: 0em -0.8em 0em -1.5em; COLOR: #003380; PADDING-TOP: 0.4em; BORDER-BOTTOM: #2f5c9f 1px solid; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif,Sans; BACKGROUND-COLOR: #a1c0df
}
.ctxheading4 {
	BORDER-TOP: #2f5c9f 1px solid; PADDING-LEFT: 11em; BACKGROUND-IMAGE: url(images\single_pixel_horizontal.gif); PADDING-BOTTOM: 0.4em; MARGIN: 0em -0.8em 0em -1.5em; COLOR: #003380; PADDING-TOP: 0.4em; BORDER-BOTTOM: #2f5c9f 1px solid; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif,Sans; BACKGROUND-COLOR: #a1c0df
}
.ctxheading5 {
	PADDING-LEFT: 17em; BACKGROUND-IMAGE: url(images\single_pixel_horizontal.gif); PADDING-BOTTOM: 0.4em; MARGIN: 0em -0.8em 0em -1.5em; COLOR: #003380; PADDING-TOP: 0.4em; BORDER-BOTTOM: #2f5c9f 1px solid; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif,Sans; BACKGROUND-COLOR: #a1c0df
}
.boxtitle {
	color: #32341C; font-family: helvetica, sans-serif, verdana, arial; font-size: 11px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left; text-decoration: none
}
.clsButtonFace {
	color: #0E5496; font-family: helvetica, sans-serif, verdana, arial; font-size: 11px; PADDING-LEFT: 27px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; CURSOR: hand; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left; text-decoration: none
}
.clsButtonFace:hover {
	color: #000000; font-family: helvetica, sans-serif, verdana, arial; font-size: 11px; PADDING-LEFT: 27px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; CURSOR: hand; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left; text-decoration: none
}
.clsButtonFace1 {
	color: #2C3691; font-family: helvetica, sans-serif, verdana, arial; font-size: 11px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; CURSOR: hand; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left; text-decoration: none
}
.clsButtonFace1:hover {
	color: #7480F4; font-family: helvetica, sans-serif, verdana, arial; font-size: 11px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; CURSOR: hand; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left; text-decoration: none
}
th {
	color : #000000;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
input, select {
	color : #000000;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.px {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 2px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.px5 {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 5px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.title01 {
	color : #003333;
	margin-top : 5px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 15px;
	margin-right : 15px;
	font-size : 13px;
	font-family : Verdana, Tahoma, helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
}
.title02 {
	color : #565B6C;
	margin-top : 5px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 15px;
	margin-right : 5px;
	font-size : 14px;
	font-family : Verdana, Arial, Tahoma;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
}
.title {
	color : #000000;
	margin-top : 28px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 45px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.title a {
	color : #EF6D00;
}
.title a:hover {
	color : #C25A02;
}
.list {
	color : #FFFFFF;
	margin-top : 3px;
	padding-bottom : 3px;
	margin-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right {
	color : #FFFFFF;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 15px;
	margin-right : 15px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right a, .list a {
	color : #FFFFFF;
}
.right a:hover {
	color : #AAAAAA;
}
.left {
	color : #000000;
	margin-top : 10px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 25px;
	margin-right : 25px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
.left a {
	color : #FF6600;
}
.left a:hover {
	color : #FF0000;
}
p {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
p a {
	color : #000000;
	font-weight: bold;
}
p a:hover {
	color : #294A7B;
}
.menu01 {
	color : #FFFFFF;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 1px;
	margin-right : 1px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.menu01 a {
	color : #FFFFFF;
	text-decoration: none;
}
.menu01 a:hover {
	color : #EEEEEE;
}
.menu02 {
	color : #000000;
	margin-top : 37px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
.menu02 a {
	color : #000000;
	text-decoration: none;
}
.menu02 a:hover {
	color : #0050ae;
	text-decoration: underline;
}
.data {
	color : #9A9A9A;
	margin-top : 15px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.t01 {
	color : #F3400F;
	margin-top : 1px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.loginBody {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; OVERFLOW: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.loginBody TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.loginText {
	COLOR: #fff
}
.loginButton {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: #5973ea; CURSOR: default; BORDER-RIGHT: darkgray 1px solid; BORDER-TOP: darkgray 1px solid; BORDER-LEFT: darkgray 1px solid; BORDER-BOTTOM: darkgray 1px solid; BACKGROUND-COLOR: #b0c4de
}
.loginInput {
	BACKGROUND: url(images/logon_fade.png) #fff no-repeat left top; VERTICAL-ALIGN: middle; BORDER-RIGHT: #34487e 1px solid; BORDER-TOP: #34487e 1px solid; BORDER-LEFT: #34487e 1px solid; BORDER-BOTTOM: #34487e 1px solid
}
